html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background: url("https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?cs=srgb&dl=audio-black-and-white-black-and-white-6966.jpg&fm=jpg")
    center/cover no-repeat;
  height: 50%;
  margin: 0;
}
ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}
ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: green;
  width: 100%;
  height: 100%;
  transition: background 100ms;
}
/* li::after {
  content: "";
  height: 100%;
  width: 0;
  display: block;
  border-bottom: 450px solid #fff;
  border-right: 50px solid transparent;
  position: absolute;
  right: 100%;
  left: 0;
} */
h1,
p {
  text-align: center;
}
.container {
  height: 90%;
}
.playing {
  background: red;
}

li[data-key="a"] {
  background: #373f51;
}
li[data-key="s"] {
  background: #0072bb;
}
li[data-key="d"] {
  background: #efa00b;
}
li[data-key="f"] {
  background: #8fc93a;
}
li[data-key="g"] {
  background: #ec4e20;
}
li[data-key="h"] {
  background: #373f51;
}
li[data-key="j"] {
  background: #0072bb;
}
li[data-key="k"] {
  background: #efa00b;
}
li[data-key="l"] {
  background: #8fc93a;
}
